{% extends 'base.html' %}
{% load static %}
{% block contents %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mt-5 border-bottom">
  <h1 class="h2">利用規約</h1>
</div>

<div>
  <div>
    <p>
      株式会社Fill_in_Time（以下「当社」といいます）は、当社が運営するサイト「Fill_in_Time」（以下「本サービス」といいます）の利用について、以下のとおり利用規約（以下「本規約」といいます）を定めます。本サービスの利用者は、あらかじめ本規約に同意した上で、本サービスを利用するものとします。また、本規約とは別に、当社の提供する各サービスの規約・ガイドライン等の個別の規約（以下「個別規約」といいます）が存在する場合、個別規約は、本規約の一部を構成するものとし、利用者は、個別規約に従って、各サービスを利用するものとします。なお、個別規約において本規約の一部の適用を排除または本規約と異なる事項を定める場合があります。その場合は個別規約の条項が本規約に優先して効力を有するものとします。
    </p>
  </div>
  <h5>第1条（定義）</h5>
  <hr>
  <div>
    <ol>
      <li>
        「会員」とは、当社所定の方法にて本サービスの利用を申込、当社がこれを承諾した者をいいます。
      </li>
      <li>
        「パートナー企業」とは、当社との間で加盟契約し、本サービス上で会員に対する求人またはイベントの広告を表示する者をいいます。
      </li>
      <li>
        「本サイト」とは、当社が運営し、サービスを提供するウェブサイトをいいます。
      </li>
    </ol>
  </div>
  <h5>第2条（会員登録の申込）</h5>
  <hr>
  <div>
    <ol>
      <li>本サービスの利用を希望する者は、当社所定の方法により、会員登録の申込を行うものとします。</li>
      <li>
        当社は、会員登録の申込を行った者（以下「申込者」といいます）が、会員登録の申込を行った時点で、本規約の内容に同意したものとみなします。
      </li>
      <li>
        当社は、会員に対し本人確認を目的として、保険証書や免許証の写し等の本人確認資料の提出を求めることができるものとします。
      </li>
      <li>
        当社は、申込者が以下のいずれかの事項に該当することが判明した場合には、会員資格を停止し、または強制退会処分とすることができるものとします。当社は、当該措置により、申込者に不利益や損害が発生した場合でも、その責任を負わないものとします。
        <div>
          <ol class="Parentheses">
            <li>
              申込者が当社が指定する要件を満たしていない場合
            </li>
            <li>
              当社が電子メールにより連絡することが可能な電子メールアドレスを、申込者が保有していない場合
            </li>
            <li>
              申込の際の申告事項に、虚偽の記載、誤記または記入漏れがあった場合
            </li>
            <li>
              申込者が第三者（共有する場合を含む）、または架空の個人情報を使って申込を行った場合
            </li>
            <li>
              申込者が第三者（父母、兄弟姉妹等の親族を含む）からの委任または委託を受けて申込を代行した場合
            </li>
            <li>
              申込者が申込の時点で会員資格の停止、強制退会処分または会員登録申込の不承諾を現に受け、または過去に受けたことがある場
            </li>
            <li>
              申込者がすでに会員登録済みであり、多重登録の申込を行った場合
            </li>
            <li>
              その他当社が申込者を会員とすることが不適切であると判断した場合
            </li>
          </ol>
        </div>
      </li>
    </ol>
  </div>
  <h5>第3条（アカウントの開設）</h5>
  <hr>
  <div>
    <ol>
      <li>
        当社は、会員1名につき1つのアカウントを開設するものとします。
      </li>
      <li>
        会員は、複数のアカウントを保有することはできません。会員は、理由のいかんを問わず複数のアカウントを保有した場合には、1つのアカウントを残し、残りのアカウントは当社の指示にしたがって処理しなければならないものとします。
      </li>
      <li>
        会員は、本サービスを利用するために必要な通信機器、ソフトウェア、その他これらに付随して必要となる全ての機器を、自己の費用と責任において準備し、本サービスが利用可能な状態に置くものとします。また、自己の費用と責任で、会員が任意に選択し、または当社の指定する電気通信サービスまたは電気通信回線を経由してインターネットに接続するものとします。
      </li>
    </ol>
  </div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>
{% endblock %}